<h1> Order # <%= @order.id %> </h1>
<h3> Ordered at: <%= @order.created_at.strftime("%b %e, %l:%M %p")%> </h3>

<section>
<h3>Thank you for your order <%= @order.user.name %></h3>
<h3>E-Mail: <%= @order.user.email %></h3>

<% @order.carted_products.each do |carted_product| %>
<h3>Product: <%= carted_product.product.name %></h3>
<h4>Quantity: <%= carted_product.quantity %></h4>
<img src="<%= carted_product.product.images.first.url %>" alt="">
<% end %>

<h3>Subtotal: <%= number_to_currency@order.subtotal %> </h3>
<h3>Tax: <%= number_to_currency@order.tax %> </h3>
<h3>Total: <%= number_to_currency@order.total %></h3>
<a href="/">Back to all Products</a>
</section>