<% if @product && @product.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from saving:</h2>
  <ul>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <h1>Update Product:<%= @product.name%>:</h1>

<%= form_tag "/products/#{@product.id}", method: :patch do %>
  <div>
    Item Name: <input type="text" name="name" value="<%= @product.name %>">
  </div>
  <div>
    Item Price: <input type="text" name="price" value="<%= @product.price %>">
  </div>
  <div>
    Item Description: <input type="text" name="description" value="<%= @product.description %>">
  </div>
  <div>
    Item Image: <input type="text" name="image" value="<%= @product.images %>">
  </div>
  <input type="submit" value="Update">
<% end %>