<!DOCTYPE html>
<html>
  <head>
    <title>Tram's Gift Baskets</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-header">
      <a class="navbar-brand" href="/">Tram's Gift Baskets</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="  #navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="https://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By:
          </a>
          <li><%= link_to "Add New Product", "products/new", class: "btn btn-default" %></li>
           <div clas="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           <a class="dropdown-item" href="/products?sort=price&sort_order=asc">Price(Asc)</a>
          <a class="dropdown-item" href="/products?sort=price&sort_order=desc">Price(Desc)</a>
          <a class="dropdown-item" href="products?discount=true">Discount Items</a>
          <a class="nav-link" href="products/random">Feelin' Lucky!</a>
          </div>
        </li>
        <% if current_user %>
          <li class="nav-item">
            <a class="nav-link" href="/products">Hey <%= current_user.name %>!</a>
          </li>
          <li class="nave-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <% end %>
          <li class="divider"></li>
          <% Category.all.each do |category| %>
          <li><a href="/products?category=<%= category.title %>"><%= category.title %></a></li>
          <% end %>
          <li class="divider"></li>
          <li><a href="/carted_products">My Cart - <%= @cart_count %></a></li>
          </ul>
  <%= form_tag "/search", method: :post do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
   </div>
   </div>
  </nav>
</header>
<div class="container-fluid">
  <% flash.each do |name, message| %>
    <div class="alert alert-<%=name%> alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= message %>
    </div>
  <% end %>

    <%= yield %>
    </div>

  </body>
</html>